body{
    background-color: rgb(196, 139, 250);

    padding-left: 10%;
    
    font-family: 'Georgia', serif; 
    
    font-size: 20px; 

    
}
  
div{
  width: 330px; 
    background-color: rgb(219, 143, 255);
    border: 3px solid #4d125f; 
    margin: 98px;
    padding: 98px; 
    
    border-radius: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  


}
  h1 {
    color: #260130; 
    
    text-transform: uppercase; 
    
    font-size: 48px; 
    
    text-align: center; 
    
  }
  

  img {
    width: 200px; 
    height: 200px; 
    
    border-radius: 50%; 
    border: 3px solid #330150; 
    
    display: block;
    margin: 0 auto 15px auto; 
  }
 
ul{
    list-style-type: none; 
}
ul li {
    margin-bottom: 10px; 
}


a {
    color: #25003a; 
    text-decoration: none; 
}

a:hover{
    color: #9600fa; 
}


  